.jumbotron.jumbotron-map data-role="map" data-disable-interaction="disable-interaction" data-style="mapbox://styles/matiaskorhonen/cior3s5es000edinov2r5cpm6" data-pitch=60
  = image_tag "tram-challenge-white.svg", class: "jumbotron-logo"
