.container
  .row
    .col-md-8.col-md-offset-2
      h1 Rules

  .row
    .col-md-8.col-md-offset-2
      p.lead The rules are mostly pretty clear and common sense, but read through them carefully to avoid any pitfalls.

      markdown:
        You must visit all 130 stops in the Helsinki tram system. The list of stops is <a href="/stops">here</a>.

        You can visit the stops in any order. You must visit the stops using a tram unless it is not possible to do so, when you can visit by foot. So, for instance, it is allowed to visit by foot the additional stops on line 4T compared to line 4 when 4T is not running. But for the main lines you must visit the stops by either being on, or getting on or off a tram at the stop.
        
        You do not need to get off the tram at each stop, just passing through is enough.

        You can travel between different tram lines by foot, or by using any means of public transport you prefer (bus, metro or train). You must not use bicycles. scooters, electric scooters, swegways, taxis, or any other means of powered or self powered transport.

        You must make sure you have a valid transport ticket for your trips, we recommend a <a href="https://www.hsl.fi/en/tickets-and-fares/day-tickets">day pass</a> or similar. Note that using regular single tickets is not recommended because they will expire before you have completed the challenge.

        You can use our iPhone app to track your progress and to register your attempt.

        If you do not have an iPhone you can still do the challenge, but it won't be included in the leaderboard for now.

        The challenge is for fun – there's no point in cheating, and we trust that you complete it in good faith. We reserve the right to publish the route you took and timing information.

        Good luck and have a good challenge day!

        Any questions, you can <a href="mailto:help@tramchallenge.com">contact us here</a>.
