.container
  .row
    .col-md-8.col-md-offset-2
      h1 Mikä ihmeen Tram Challenge?
      p.lead
        | Tram Challenge -pelissä ideana on käydä kaikilla Helsingin ratikkapysäkeillä mahdollisimman lyhyessä ajassa. Idea on lähtöisin Lontoon <a href="https://en.wikipedia.org/wiki/Tube_Challenge">Tube Challenge</a> -kilpailusta jossa tarkoituksena on vierailla kaikilla 130:llä Lontoon metroverkoston pysäkeillä.
      hr

  .row
    .col-md-8.col-md-offset-2
      markdown:
        ## Miten?

        Aloita lataamalla Tram Challenge sovellus iOS App Storesta (tulossa pian). Seuraavaksi kannattaa tehdä alustava suunnitelma reitistä minkä tulet ottamaan. Kiinnitä erityisesti huomiota linjojen päätepysäkkeihin ja siihen miten tulet siirtymään pysäkiltä toiselle.

        Kun olet saanut jonkinlaisen suunnitelman kasaan, **sen kuin vaan yrittämään!**

        **Muista ostaa matkalippu haasteen ajaksi!**


  .row
    .col-md-8.col-md-offset-2
      h2 Säännöt

      p.lead Pelin säännöt ovat enimmäkseen melko selkeitä ja tervettä järkeä mutta, lue ne kuitenkin läpi huolellisesti välttääksesi mahdolliset sudenkuopat.

      markdown:
        Haasteen aikana pitää käydä kaikilla n. 130:llä ratikkapysäkillä. Olemme koonneet ns. virallisen [listan pysäkeistä](/stops) koska käytössä olevat pysäkit vaihtelevat päivän ja olosuhteiden mukaan.

        Pysäkeillä saa käydä missä järjestyksessä tahansa. Pysäkeillä pitää käydä ratikalla ellei tämä ole mahdotonta. Jos pysäkille ei pääse ratikalla, siellä voi käydä jalan. Esimerkiksi voit käydä “ylimääräisillä” 4T:n pysäkeillä (verrattuna 4:sen pysäkkeihin) jalan niinä aikoina kun 4T ei kulje. Pääasiallisesti pysäkkikäynnillä pitää olla joko ratikan kyydissä, jäämässä pois ratikasta, tai nousemassa ratikkaan.

        Joka pysäkillä ei tarvitse jäädä pois ratikasta, riittää että ratikka kulkee pysäkin kautta.

        Eri ratikkalinjojen välillä voi kulkea jalan tai julkisilla liikennevälineillä (bussilla, metrolla, tai junalla). Polkupyörien, mopojen, autojen, potkulautojen, taksien, autojen, tai muiden ei-julkisten liikennevälineiden käyttö on kiellettyä.

        Haasteen aikana sinulla tulee olla voimassa oleva lippu tai matkakortti. Emme suosittele käyttämään kertalippua, sillä sen voimassaoloaika ei riitä haasteen suorittamiseen. Suosittelemme vähintään [vuorokausilippua](https://www.hsl.fi/liput-ja-hinnat).

        Voit käyttää meidän iPhone-sovellusta apuna ja tulosten rekisteröintiin.

        Voit myös suorittaa haasteen ilman iPhone sovellusta, mutta tällä hetkellä emme voi lisätä tulostasi käsin tulostaulukkoon.

        Muista, että Tram Challenge -pelin suorittaminen on tarkoitus olla hauskaa. Huijaamiselle ei ole tarvetta eikä perusteita, luotamme siihen että pelaat rehellisesti. Varaamme oikeuden julkaista reittisi ja tiedot siitä mihin aikaan olit milläkin pysäkillä.

        Onnea matkaan!

        Voit <a href="mailto:help@tramchallenge.com">lähettää meille sähköpostia</a> jos ilmenee kysyttävää…
