# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 52ef344f9159dd874c2835ff4f9d1e9b3fce4bfaf33584e9287464970ffc2123d422956e9f55dd6e2b55729ab3b3a2e7240e0053b18af63156cb387ebe00dac0

test:
  secret_key_base: 33b6a9e9c735cf3bd573096fb33db4f7232231106aeb944409603b54b1e875159de7dd5ac4ade16901ea25f7aff3d4eef6715def8dc909f93764d83b56274fbe

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
