@import "variables";
@import "bootstrap-simplex";

.jumbotron-map {
  height: 500px;
  max-height: 50vh;
  padding: 0 !important;

  .mapboxgl-canvas-container,
  .mapboxgl-canvas {
    border-radius: 6px;
  }
}

.jumbotron-overlay {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  position: absolute;
  background: $brand-primary;
  opacity: 0.7;
  z-index: 900;
  pointer-events: none;
}

.jumbotron-logo {
  width: 100%;
  max-width: 80%;
  max-height: 80%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  left: 50%;
}
