$brand-primary: rgb(0, 122, 201) !default;

@import "bootstrap-cosmo";

body, html {
  height: 100%;
}

.jumbotron-map {
  height: 500px;
  max-height: 50vh;
  padding: 0 !important;
}

.jumbotron-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: $brand-primary;
  opacity: 0.7;
  z-index: 900;
  pointer-events: none;
}

.jumbotron-logo {
  width: 100%;
  max-width: 80%;
  max-height: 80%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  left: 50%;
}

.action-home {
  .jumbotron {
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    background: image-url("old-time-tram-background.jpg") lighten($brand-primary, 50%) no-repeat 0 75%;
    background-size: cover;
    min-height: 100vh;
    color: $gray-lighter;

    a {
      color: $gray-lighter;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    h1 {
      font-family: "museo-sans-rounded", sans-serif;
      font-weight: 700;

      text-shadow: 2px 2px 3px rgba(0,0,0, 0.5);
    }

    p {
      text-shadow: 0px 0px 5px rgba(0,0,0,1);
    }
  }
}

.action-home, .action-map {
  .navbar {
    margin-bottom: 0;
  }
}

#full-map {
  height: 100%;
  width: 100%;
}
