$brand-primary: rgb(0, 122, 201) !default;

@import "bootstrap-cosmo";

body, html {
  height: 100%;
}

.footer {
  width: 100%;
  height: 60px;
  text-align: center;

  .container .text-muted {
    margin: 20px 0;
  }
}

.action-home {
  .jumbotron {
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    background: image-url("old-time-tram-background.jpg") lighten($brand-primary, 50%) no-repeat 0 75%;
    background-size: cover;
    min-height: 80vh;
    color: $gray-lighter;

    a {
      color: $gray-lighter;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    h1 {
      font-family: "museo-sans-rounded", sans-serif;
      font-weight: 700;

      text-shadow: 2px 2px 3px rgba(0,0,0, 0.5);
    }

    p {
      text-shadow: 0px 0px 5px rgba(0,0,0,1);
    }
  }
}

.action-home, .action-map {
  .navbar {
    margin-bottom: 0;
  }
}

.action-map {
  background: #EDE9D9;
}

#full-map {
  height: 100%;
  width: 100%;
}
